/* Main styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.header {
  background-color: #343a40;
  color: white;
}

.cell {
  padding: 15px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table .row {
  border-bottom: 1px solid #dee2e6;
}

.table .row .cell {
  padding: 12px;
  vertical-align: middle;
}
